---

- name: Deploy AEM Stack Manager Cloud Native Implementation
  hosts: all
  gather_facts: no
  connection: local
  force_handlers: True
  vars:
    stack_manager_cwd: "{{ playbook_dir }}/../.."
    stack_manager_tmp: "{{ playbook_dir }}/../../stack_manager_tmp"

  tasks:
    - name: Create A Temp Working Directory
      file:
        path: "{{ stack_manager_tmp }}"
        state: directory
        mode: 0755
      notify: Clean Up Temp Folder
      tags:
        - create

    - name: Generate CloudFormation Template for SSM Documents
      shell: >
          ./scripts/generate.sh >  "{{ stack_manager_tmp }}/ssm_template.json"
      args:
        chdir: "{{ stack_manager_cwd }}"
      tags:
        - create

    - name: Create SSM Document Stack
      cloudformation:
        stack_name: "{{ stack_manager.ssm_stack_name }}"
        region: "{{ aws.region }}"
        state: present
        disable_rollback: false
        template: "{{ stack_manager_tmp }}/ssm_template.json"
      tags:
        - create

    - name: Create Stack Manager Task and SSM Document Name Mapping File
      command: >
        python "{{ stack_manager_cwd }}"/scripts/output_task_doc_mapping.py
               "{{ stack_manager.ssm_stack_name }}"
               "{{ stack_manager_tmp }}"/task_doc_mapping.json
      tags:
        - create

    - name: Zip AEM Stack Manager Lambda Implementation
      command: >
        zip -j "{{ stack_manager_tmp }}/aem_stack_manager.zip" "{{ stack_manager_cwd }}/lambda/aem_stack_manager.py"
      tags:
        - create

    - name: Zip AEM Offline Snapshot Lambda Implementation
      shell: >
        zip -j "{{ stack_manager_tmp }}/aem_offline_snapshot.zip" "{{ stack_manager_cwd }}/lambda/aem_offline_snapshot.py"
      tags:
        - create

    - name: Zip AEM Task Status Query Lambda Implementation
      shell: >
        zip -j "{{ stack_manager_tmp }}/aem_task_query.zip" "{{ stack_manager_cwd }}/lambda/aem_task_query.py"
      tags:
        - create

    - name: Upload Lambada Function Zip Archives to S3
      command: >
              aws s3 sync "{{ stack_manager_tmp }}"
                  s3://{{ stack_manager.s3_bucket }}/{{ stack_manager.s3_prefix }}
                  --include "*.zip"
      tags:
        - create

    - name: >
        Create AEM Stack Manager Resources
      cloudformation:
        stack_name: "{{ stack_manager.stack_name }}"
        region: "{{ aws.region }}"
        state: present
        disable_rollback: false
        template: "{{ stack_manager_cwd }}/cloudformation/aem-stack-manager-cloud.yaml"
        template_parameters:
          S3Bucket: "{{ stack_manager.s3_bucket }}"
          S3Prefix: " {{ stack_manager.s3_prefix }}"
          Version: "{{ stack_manager.version}}"
      register: stack_info
      tags:
        - create

    - name: Update config.json template to the stack output
      shell:  >-
        jq --slurpfile mapping "{{ stack_manager_tmp }}"/task_doc_mapping.json \
           --arg statusarn "{{ stack_info.stack_outputs.TaskStatusTopicArn }}" \
           --arg role "{{ stack_info.stack_outputs.SSMServiceRoleArn}}" \
           --arg bucket "{{ stack_manager.s3_bucket }}" \
           --arg backuparn "{{ stack_info.stack_outputs.BackupTopicArn}}" \
           --arg dbtable "{{ stack_info.stack_outputs.AemStackManagerTableName }}" \
        '."document_mapping"=$mapping[0]|'\
        '."ec2_run_command"."status-topic-arn"=$statusarn|'\
        '."ec2_run_command"."ssm-service-role-arn"=$role|'\
        '."ec2_run_command"."cmd-output-bucket"=$bucket|'\
        '."ec2_run_command"."dynamodb-table"=$dbtable|'\
        '."offline_snapshot"."sns-topic-arn"=$backuparn' \
           "{{ stack_manager_cwd }}"/lambda/config.json.template  >  "{{ stack_manager_tmp }}"/config.json
      when: stack_info|succeeded
      tags:
       - create

    - name: Upload config.json to S3
      s3:
         bucket: "{{ stack_manager.s3_bucket }}"
         mode: put
         src: "{{ stack_manager_tmp }}/config.json"
         object: "{{ stack_manager.s3_prefix }}/config.json"
      when: stack_info|succeeded
      tags:
       - create

    - name: set TTL attribute on the DynamoDB Table
      command: >
        aws dynamodb update-time-to-live --table-name "{{stack_info.stack_outputs.AemStackManagerTableName}}"
           --time-to-live-specification Enabled=true,AttributeName=ttl
           --region "{{ aws.region }}"
      when: stack_info|succeeded and stack_info.changed == true
      ignore_errors: True
      tags:
        - create

    - name: Check if Stack Manager Stack Exists
      command: >
        aws cloudformation describe-stacks --stack-name "{{ stack_manager.stack_name }}"
             --query 'Stacks[].StackName' --region "{{ aws.region }}"
      ignore_errors: True
      register: stack_query
      tags:
        - delete

    - name: Report Stack Manager Problem if Any
      debug:
        msg: Stack "{{ stack_manager.stack_name }}" does not exist or some other errors occured
      when:
        "stack_query.rc != 0"
      tags:
        - delete

    - name: Delete AEM Stack Manager Stack
      cloudformation:
        stack_name: "{{ stack_manager.stack_name }}"
        region: "{{ aws.region }}"
        state: absent
      when:
        "stack_query.rc == 0"
      tags:
        - delete

    - name: Check if Stack Manager SSM Stack Exists
      command: >
        aws cloudformation describe-stacks --stack-name "{{ stack_manager.ssm_stack_name }}"
             --query 'Stacks[].StackName' --region "{{ aws.region }}"
      ignore_errors: True
      register: stack_query
      tags:
        - delete

    - name: Report SSM Document Stack Problem if Any
      debug:
        msg: Stack "{{ stack_manager.ssm_stack_name }}" does not exist or some other errors occured
      when:
        "stack_query.rc != 0"
      tags:
        - delete

    - name: Delete AEM Stack Manager SSM Document Stack
      cloudformation:
        stack_name: "{{ stack_manager.ssm_stack_name }}"
        region: "{{ aws.region }}"
        state: absent
      when:
        "stack_query.rc == 0"
      tags:
        - delete

  handlers:
    - name: Clean Up Temp Folder
      file:
        path: "{{ stack_manager_tmp }}"
        state: absent
